<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login App</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  {{{body}}}
  <div class="container">
    <div class="row">
      <div class="col-md-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fugiat praesentium magni mollitia itaque aut dolore
        minus vitae, numquam, fuga consectetur assumenda ex porro aspernatur eius blanditiis neque et sit. Dicta, rem recusandae!
        Error, laboriosam esse? Mollitia enim dicta veritatis delectus, quis minus ex expedita odit consectetur praesentium
        laborum iste unde consequatur, repellat excepturi modi. Numquam nobis aliquam odit in cupiditate quod culpa reprehenderit
        animi natus soluta vero mollitia eum error pariatur libero, accusamus qui id deleniti iure doloribus deserunt temporibus
        dicta. Magni cum aperiam harum, magnam repellendus sint! Dolor animi quisquam reprehenderit corporis, molestias illum
        quasi commodi dolorem a hic. Harum illo fuga qui neque recusandae! Magnam officiis ad, quis voluptas exercitationem
        autem? Dicta ducimus nam corporis reiciendis, mollitia assumenda nostrum blanditiis molestiae, perferendis saepe
        numquam consectetur ad, eius maxime hic aut rerum inventore ab voluptates sint! Sequi nihil nulla suscipit cupiditate,
        omnis culpa recusandae distinctio, aut et tempora a rem consequatur voluptatibus saepe odit facilis. Nesciunt dignissimos
        eaque, ratione quaerat praesentium quas ad omnis rerum sed. Distinctio obcaecati adipisci iure eius cumque incidunt
        perferendis, quae eveniet deserunt qui! Excepturi provident molestias saepe sed maiores quasi, deleniti, labore,
        voluptatibus doloribus eaque obcaecati dolorum! Sapiente fugiat temporibus expedita repudiandae labore.</div>
    </div>
  </div>
</body>

</html>